@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	paint-order: stroke fill;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
li {
	list-style-type: none;
}

/* End of Reset */
:root {
	--min-w: 320px;
	--max-w: 1920px;

	--gap: 4rem;
	--pad: 1.5rem;
	
	--font-sm: clamp(1.5rem, 4vw, 1.75rem);
	--font-md: clamp(1.75rem, 6vw, 2.25rem);
	--font-lg: clamp(2.5rem, 6vw, 2.5rem);
	--font-xl: clamp(3.35rem, 8vw, 6.0rem);
	--font-xxl: clamp(4.0rem, 8vw, 8.0rem);
	
	--icon: clamp(96px, 8vw, 128px);

	--border-w: 0.25rem;
	--border-r: 1rem;

	--color-primary: 175 5;
	--color-secondary: 175 65;

	--color-red: 0 58;
	--color-orange: 24 75;
	--color-yellow: 42 100;
	--color-green: 100 50;
	--color-blue: 200 70;
	--color-indigo: 230 45;
	--color-violet: 270 70;
	--color-pink: 335 65;
}

.left { text-align: left; margin-left: -2ch; }
.right { text-align: right; margin-right: -2ch; }

html, body { height: 100%; }

body {
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: "Fredoka", sans-serif;
	background: hsl(var(--color-primary) 80);
}

main {
	display: grid;
	grid-template-rows: 1fr min-content;
	height: 100%;
	max-width: var(--max-w);
	min-width: var(--min-w);
	margin: 0 auto;
	padding: var(--gap);
}

h1 {
	display: grid;
	align-self: center;
	justify-self: center;
	padding: var(--pad);
	padding-bottom: calc(var(--pad) * 4);
	font-size: var(--font-xl);
	font-weight: 600;
	color: hsl(var(--color-secondary) 90);
	text-shadow:
	0 .2ch 0 hsl(0 0 0),
	0 .3ch 0 hsl(0 0 0 / .25);
	-webkit-text-stroke: .15ch hsl(0 0 0);
	cursor: default;
}

h1 #greeting {
	line-height: 0%;
	padding: .25ch 0 .35ch 0;
	letter-spacing: -.15ch;
	font-size: var(--font-xxl);
	font-weight: 700;
	color: hsl(var(--color-secondary) 50);
	rotate: -5deg;
	z-index: 99;
}

h1 #greeting, .student:after, .feeling {
	font-family: "Shantell Sans", cursive;
}

#students, #feelings {
	align-self: end;
	display: grid;
	gap: var(--gap);
}

.student, .feeling {
	--color-feeling: var(--color-primary);
	display: grid;
	align-content: end;
	position: relative;
	font-size: var(--font-md);
	font-weight: 500;
	padding: calc(var(--pad) * 1.5) var(--pad);
	background:
	linear-gradient(
	hsl(var(--color-feeling) 70) 3%,
	hsl(var(--color-feeling) 50) 3%,
	hsl(var(--color-feeling) 50) 95%,
	hsl(var(--color-feeling) 30) 95%);
	border-radius: var(--border-r);
	border: var(--border-w) solid hsl(0 0 0);
	box-shadow: 0 var(--border-w) 0 hsl(var(--color-primary) 95);
	-webkit-text-stroke: .25ch hsl(0 0 0);
}

.student:before, .feeling:before {
	content: "";
	display: block;
	min-height: var(--icon);
	min-width: var(--icon);
	scale: .9;
}

.student:before, .feeling:before {
	position: absolute;
	top: calc(var(--icon) / -1.75);
	background:
	center / contain no-repeat
	url('../images/feelings/neutral.svg');
	width: 100%;
}

.student:hover, .feeling:hover {
	cursor: pointer;
	background:
	linear-gradient(
	hsl(var(--color-feeling) 90) 3%,
	hsl(var(--color-feeling) 70) 3%,
	hsl(var(--color-feeling) 70) 95%,
	hsl(var(--color-feeling) 50) 95%);
}

.student:hover:before, .feeling:hover:before {
	scale: 1;
}

.student:after {
	content: "";
	display: block;
	min-height: var(--font-sm);
	align-content: center;
	font-size: var(--font-sm);
	font-weight: 600;
}

.student:after, .feeling {
	color: hsl(var(--color-feeling) 10);
	-webkit-text-stroke: .2ch hsl(var(--color-feeling) 90);
}

.student:hover:before, .feeling:hover:before {
	color: hsl(var(--color-feeling) 40);
}

.mad {
	--color-feeling: var(--color-red);
	background-color: hsl(var(--color-feeling) 50);
}
.mad:before {
	background:
	center / contain no-repeat
	url('../images/feelings/mad.svg');
}

#students li.mad:after {
	content: "feels mad";
}

.bored {
	--color-feeling: var(--color-orange);
	background-color: hsl(var(--color-feeling) 50);
}
.bored:before {
	background:
	center / contain no-repeat
	url('../images/feelings/bored.svg');
}
#students li.bored:after {
	content: "feels bored";
}

.happy {
	--color-feeling: var(--color-yellow);
	background-color: hsl(var(--color-feeling) 50);
}
.happy:before {
	background:
	center / contain no-repeat
	url('../images/feelings/happy.svg');
}
#students li.happy:after {
	content: "feels happy";
}

.sick {
	--color-feeling: var(--color-green);
	background-color: hsl(var(--color-feeling) 50);
}
.sick:before {
	background:
	center / contain no-repeat
	url('../images/feelings/sick.svg');
}
#students li.sick:after {
	content: "feels sick";
}

.sad {
	--color-feeling: var(--color-blue);
	background-color: hsl(var(--color-feeling) 50);
}
.sad:before {
	background:
	center / contain no-repeat
	url('../images/feelings/sad.svg');
}
#students li.sad:after {
	content: "feels sad";
}

.tired {
	--color-feeling: var(--color-indigo);
	background-color: hsl(var(--color-feeling) 50);
}
.tired:before {
	background:
	center / contain no-repeat
	url('../images/feelings/tired.svg');
}
#students li.tired:after {
	content: "feels tired";
}

.silly {
	--color-feeling: var(--color-violet);
	background-color: hsl(var(--color-feeling) 50);
}
.silly:before {
	background:
	center / contain no-repeat
	url('../images/feelings/silly.svg');
}
#students li.silly:after {
	content: "feels silly";
}

.hungry {
	--color-feeling: var(--color-pink);
	background-color: hsl(var(--color-feeling) 50);
}
.hungry:before {
	background:
	center / contain no-repeat
	url('../images/feelings/hungry.svg');
}
#students li.hungry:after {
	content: "feels hungry";
}

#feeling-list {
	display: none;
}

@media (min-width: 800px) {
	#students, #feelings {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1600px) {
	#students, #feelings {
		grid-template-columns: repeat(4, 1fr);
	}
	.student, .feeling {
		min-height: 11rem;
		font-size: var(--font-lg);
	}
	.feeling {
		align-content: center;
	}
}