@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Emoji&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	paint-order: stroke fill;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
li {
	list-style-type: none;
}

/* End of Reset */
:root {
	--max-w: 1980px;

	--gap: 1.25rem;
	--pad: 1.25rem;

	--fnt-lg: clamp(2.5rem, 8vw, 6rem);
	--fnt-md: clamp(1.75rem, 6vw, 3rem);
	--fnt-sm: clamp(1rem, 3vw, 1.5rem);

	--icon: clamp(72px, 6vw, 128px);

	--bdr-w: 0.3rem;
	--bdr-r: 1rem;

	--clr-primary: 169 15;
	--clr-secondary: 169 100;

	--clr-red: 0 58;
	--clr-orange: 24 75;
	--clr-yellow: 42 100;
	--clr-green: 100 50;
	--clr-blue: 200 70;
	--clr-indigo: 230 45;
	--clr-violet: 270 70;
	--clr-pink: 335 65;
}

body {
	display: grid;
	justify-content: center;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: "Fredoka", sans-serif;
	background: hsl(var(--clr-primary) 80);
	overflow-x: clip;
}

section {
	display: grid;
	align-items: end;
	min-height: 100svh;
	min-height: 100vh;
	width: 100svw;
	width: 100vw;
	max-width: var(--max-w);
}

h1 {
	font-family: "Shantell Sans", cursive;
	font-size: var(--fnt-lg);
	font-weight: 700;
	padding: var(--pad);
	letter-spacing: -.1ch;
	color: hsl(var(--clr-secondary) 50);
	text-shadow:
	0 .2ch 0 hsl(0 0 0),
	0 .3ch 0 hsl(0 0 0 / .25);
	-webkit-text-stroke: .15ch hsl(0 0 0);
}

#students {
	align-self: end;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
	gap: var(--gap);
	padding: var(--pad);
}

.student {
	font-size: var(--fnt-md);
	font-weight: 500;
	background: hsl(var(--clr-primary) 60)
		linear-gradient(
		hsl(0 0 100 / .25) 3%,
		hsl(0 0 100 / 0) 3%,
		hsl(0 0 100 / 0) 95%,
		hsl(0 0 0 / .25) 95%);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-content: center;
	gap: calc(var(--gap) / 2) var(--gap);
	padding: var(--pad) calc(var(--pad) * 2);
	border-radius: var(--bdr-r);
	border: var(--bdr-w) solid hsl(0 0 0);
	-webkit-text-stroke: .25ch hsl(0 0 0);
}

.student:hover {
	cursor: pointer;
}

.student:before {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: span 2;
	background:
	center / contain no-repeat
	url('../images/feelings/neutral.svg');
}

.student:before, .feeling:before {
	display: block;
	min-height: var(--icon);
	min-width: var(--icon);
	content: "";
}

.student:after {
	display: block;
	align-content: center;
	padding: .5ch 1ch;
	white-space: nowrap;
	color: hsl(0 0 0 / 0.9);
	font-size: var(--fnt-sm);
	font-weight: 600;
	font-family: "Shantell Sans", cursive;
	text-shadow: none;
	background: hsl(0 0 100 / 0.5);
	rotate: 2deg;
	border: 0.2rem solid hsl(0 0 100 / 0.25);
	-webkit-text-stroke: 0;
}

.student:nth-child(even):after {
	rotate: -1deg;
}
.mad { background-color: hsl(var(--clr-red) 50); }
.mad:before {
	background:
	center / contain no-repeat
	url('../images/feelings/mad.svg');
}

#students li.mad:after {
	content: "feels mad";
}

.bored {
	background-color: hsl(var(--clr-orange) 50);
}
.bored:before {
	background:
	center / contain no-repeat
	url('../images/feelings/bored.svg');
}
#students li.bored:after {
	content: "feels bored";
}

.happy {
	background-color: hsl(var(--clr-yellow) 50);
}
.happy:before {
	background:
	center / contain no-repeat
	url('../images/feelings/happy.svg');
}
#students li.happy:after {
	content: "feels happy";
}

.sick {
	background-color: hsl(var(--clr-green) 50);
}
.sick:before {
	background:
	center / contain no-repeat
	url('../images/feelings/sick.svg');
}
#students li.sick:after {
	content: "feels sick";
}

.sad {
	background-color: hsl(var(--clr-blue) 50);
}
.sad:before {
	background:
	center / contain no-repeat
	url('../images/feelings/sad.svg');
}
#students li.sad:after {
	content: "feels sad";
}

.tired {
	background-color: hsl(var(--clr-indigo) 50);
}
.tired:before {
	background:
	center / contain no-repeat
	url('../images/feelings/tired.svg');
}
#students li.tired:after {
	content: "feels tired";
}

.silly {
	background-color: hsl(var(--clr-violet) 50);
}
.silly:before {
	background:
	center / contain no-repeat
	url('../images/feelings/silly.svg');
}
#students li.silly:after {
	content: "feels silly";
}

.hungry {
	background-color: hsl(var(--clr-pink) 50);
}
.hungry:before {
	background:
	center / contain no-repeat
	url('../images/feelings/hungry.svg');
}
#students li.hungry:after {
	content: "feels hungry";
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	grid-template-rows: 1fr auto;
	background: hsl(var(--clr-primary) 10 / 0.5);
	justify-content: center;
	align-items: center;
}
.popup {
	grid-row-start: 2;
	background: hsl(var(--clr-primary) 10 / 0.5);
	padding: var(--pad);
	border-top: var(--bdr-w) solid hsl(0 0 0);
	width: 100vw;
	overflow-x: auto;
}

#feelings {
	display: flex;
	gap: var(--gap);
	max-width: var(--max-w);
	margin: 0 auto;
}

.feeling {
	font-size: var(--fnt-sm);
	display: grid;
	padding: var(--pad);
	cursor: pointer;
	border-radius: var(--bdr-r);
	border: var(--bdr-w) solid rgba(0, 0, 0);
	height: calc(var(--icon) * 2);
	width: calc(var(--icon) * 2);
}

.feeling:hover {
	scale: 1.1;
	filter: brightness(1.25);
	border-bottom-width: calc(var(--bdr-w) * 2);
}

.blur {
	filter: blur(var(--pad));
}