@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	paint-order: stroke fill;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
li {
	list-style-type: none;
}

/* End of Reset */
:root {
	--min-w: 320px;
	--max-w: 1920px;

	--gap: 4.0rem;
	--pad: 2.0rem;
	
	--font-sm: 1.5rem;
	--font-md: 2.25rem;
	--font-lg: 6.0rem;
	--font-xl: 8.0rem;
	
	--icon: 112px;

	--border-w: 0.25rem;
	--border-r: 1.0rem;

	--color-primary: 175 5;
	--color-secondary: 175 65;

	--color-red: 0 58;
	--color-orange: 24 75;
	--color-yellow: 42 100;
	--color-green: 100 50;
	--color-blue: 200 70;
	--color-indigo: 230 45;
	--color-violet: 270 70;
	--color-pink: 335 65;
}

html, body { height: 100%; }

body {
	text-align: center;
	color: white;
	font-family: "Fredoka", sans-serif;
	background: hsl(var(--color-primary) 80);
}

main {
	display: grid;
	grid-template-rows: 1fr min-content;
	height: 100%;
	max-width: var(--max-w);
	min-width: var(--min-w);
	margin: 0 auto;
	padding: var(--gap);
}

h1 {
	display: grid;
	align-self: center;
	justify-self: center;
	padding: var(--pad);
	padding-bottom: calc(var(--pad) * 4);
	font-size: var(--font-lg);
	font-weight: 600;
	color: hsl(var(--color-secondary) 90);
	text-shadow:
	0 .2ch 0 hsl(0 0 0),
	0 .3ch 0 hsl(0 0 0 / .25);
	-webkit-text-stroke: .15ch hsl(0 0 0);
	cursor: default;
}

h1 #greeting {
	line-height: 0%;
	padding: .25ch 0 .45ch 0;
	letter-spacing: -.15ch;
	font-size: var(--font-xl);
	font-weight: 700;
	color: hsl(var(--color-secondary) 50);
	rotate: -3deg;
	z-index: 99;
}

h1 #greeting, .student:after, .feeling {
	font-family: "Shantell Sans", cursive;
}

#students, #feelings {
	align-self: end;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--gap);
}

.student, .feeling {
	display: grid;
	align-content: end;
	position: relative;
	font-size: var(--font-md);
	font-weight: 500;
	padding: calc(var(--pad) * 1.5) var(--pad);
	background:
	linear-gradient(
	hsl(0 0 100 / 40%) 3%,
	hsl(0 0 0 / 0%) 3%,
	hsl(0 0 0 / 0%) 95%,
	hsl(0 0 0 / 40%) 95%);
	background-color: hsl(var(--color-primary) 50);
	border-radius: var(--border-r);
	border: var(--border-w) solid black;
	-webkit-text-stroke: .25ch black;
}

.student:before, .feeling:before {
	content: "";
	display: block;
	min-height: var(--icon);
	min-width: var(--icon);
	scale: .9;
}

.student:before, .feeling:before {
	position: absolute;
	top: calc(var(--icon) / -1.75);
	background:
	center / contain no-repeat
	url('../images/feelings/neutral.svg');
	width: 100%;
}

.student:hover, .feeling:hover {
	cursor: pointer;
	background:
	linear-gradient(
	hsl(0 0 100 / 60%) 3%,
	hsl(0 0 100 / 20%) 3%,
	hsl(0 0 100 / 20%) 95%,
	hsl(0 0 0 / 20%) 95%);
}

.student:hover:before, .feeling:hover:before {
	scale: 1;
}

.student:after {
	content: "";
	display: block;
	min-height: var(--font-sm);
	align-content: center;
	font-size: var(--font-sm);
	font-weight: 600;
}

.student:after, .feeling {
	color: black;
	-webkit-text-stroke: .2ch white;
}

.mad,.mad:hover {
	background-color: hsl(var(--color-red) 50);
}
.mad:before {
	background:
	center / contain no-repeat
	url('../images/feelings/mad.svg');
}
#students li.mad:after {
	content: "feels mad";
}

.bored,.bored:hover {
	background-color: hsl(var(--color-orange) 50);
}
.bored:before {
	background:
	center / contain no-repeat
	url('../images/feelings/bored.svg');
}
#students li.bored:after {
	content: "feels bored";
}

.happy,.happy:hover {
	background-color: hsl(var(--color-yellow) 50);
}
.happy:before {
	background:
	center / contain no-repeat
	url('../images/feelings/happy.svg');
}
#students li.happy:after {
	content: "feels happy";
}

.sick,.sick:hover {
	background-color: hsl(var(--color-green) 50);
}
.sick:before {
	background:
	center / contain no-repeat
	url('../images/feelings/sick.svg');
}
#students li.sick:after {
	content: "feels sick";
}

.sad,.sad:hover {
	background-color: hsl(var(--color-blue) 50);
}
.sad:before {
	background:
	center / contain no-repeat
	url('../images/feelings/sad.svg');
}
#students li.sad:after {
	content: "feels sad";
}

.tired,.tired:hover {
	background-color: hsl(var(--color-indigo) 50);
}
.tired:before {
	background:
	center / contain no-repeat
	url('../images/feelings/tired.svg');
}
#students li.tired:after {
	content: "feels tired";
}

.silly,.silly:hover {
	background-color: hsl(var(--color-violet) 50);
}
.silly:before {
	background:
	center / contain no-repeat
	url('../images/feelings/silly.svg');
}
#students li.silly:after {
	content: "feels silly";
}

.hungry,.hungry:hover {
	background-color: hsl(var(--color-pink) 50);
}
.hungry:before {
	background:
	center / contain no-repeat
	url('../images/feelings/hungry.svg');
}
#students li.hungry:after {
	content: "feels hungry";
}

#feeling-list {
	display: none;
}